@charset "utf-8";
/*
* 파일명   : reset.css
* 작성자   : 신세연
* 작성일   : 2014.10.14
 */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

/* reset 정의 */
html, body, div, span, object, iframe, frame,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	-webkit-text-size-adjust:none;
	word-break:break-all;
}

ul,ol,dl,li,dt,dd {
	list-style:none;
}
img, input, textarea {
	border:0;
    outline:none;
}
img {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
}

body {
	font-family:Malgun Gothic,arial,sans-serif,Helvetica;
	font-size:14px;
	color:#333;
    line-height:1.6;
	letter-spacing:0;
	background:#fff;
	-webkit-text-size-adjust:none;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
a {color:#373e40;text-decoration:none;outline:none;}
a:link, a:visited, a:hover, a:active {text-decoration:none;outline:none;}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
	font-family:Malgun Gothic,arial,sans-serif,Helvetica;
	font-size:14px;
	color:#333;
	letter-spacing:0;
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:0;
    padding:0;
}

input, select, textarea, button {vertical-align:middle;}
select {text-indent:5px;}

h1, h2, h3, h4, h5, h6 {font-size:16px;}

em,address{font-style:normal;}

strong{font-weight:bold;}

u{text-decoration:none;}
