@charset "utf-8";
/*
* 파일명	: customer.css (고객센터)
* 작성일	: 2015.04.20
* 수정일	: 2015.05.27
*/

/*서브메인*/
ul.menu_quick {height:77px;padding:25px 15px 0;}
ul.menu_quick li {float:left;width:50%;vertical-align:middle;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
ul.menu_quick li a {display:block;width:100%;height:55px;color:#fff;font-size:12px;font-weight:bold;text-align:center;border-radius:5px;background:#54546c;}
ul.menu_quick li a:before {content:"";display:inline-block;position:relative;top:12px;width:34px;height:33px;margin-right:10px;background-image:url(../../img/ico_customer.png);background-repeat:no-repeat;background-size:120px auto;}
ul.menu_quick li:nth-child(1) {width:50%;padding-right:4px;}
ul.menu_quick li:nth-child(1) a {margin-left:0;}
ul.menu_quick li:nth-child(1) a:before {background-position:-82px 0;}
ul.menu_quick li:nth-child(2){padding-left:4px;}
ul.menu_quick li:nth-child(2) a:before {background-position:0 -63px;}

.board {position:relative;margin:25px 15px 10px;}
.board .tab_group, .board ul.tab_group.line2 {padding:0;}
.board .more {position:absolute;top:15px;right:15px;}
.board h3 {margin-bottom:10px;font-size:16px;}
.board:first-child {margin-top:15px;}
.board .btn.viewmore1 {position:absolute;top:0;right:0;}

/*공지사항*/
.board ul li p {color:#555;font-size:14px;}
.board ul.notice_list li p:nth-child(2) {height:16px;vertical-align:middle;}
.board ul li p span.date {display:inline-block;color:#888;font-size:13px;vertical-align:middle;}
.board ul li p span.new {display:inline-block;width:15px;height:15px;margin-left:5px;text-indent:-9999px;vertical-align:middle;background:url(../../img/ico_customer.png) no-repeat 0 -35px;background-size:120px auto;}

.cstmIndex .board ul.notice_list {margin-top:0;border-top:1px solid #ddd;}
.board ul.notice_list li {padding:8px 0 11px;border-bottom:1px solid #ddd;cursor:pointer;}
.board ul.notice_list li p:first-child {margin-bottom:2px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}

.board.noticewrap {margin-top:0;}
.board ul.notice_read {margin-top:15px;}
.board ul.notice_read li {padding:15px 0 12px;border-bottom:1px solid #ddd;}
.board ul.notice_read li:first-child {padding-top:0;padding-bottom:15px;border-bottom:1px solid #ddd;}
.board ul.notice_read li:first-child p:first-child {font-size:13px;font-weight:bold;}
.board ul.notice_read li:first-child p:nth-of-type(2) {margin-top:5px;line-height:1;}
.board ul.notice_read li div {min-height:180px;color:#666;font-size:12px;line-height:1.6;}
.board ul.notice_read li div img {width:100%;min-width:290px;}

/*자주하는질문*/
.accordion_wrap .faq_list {border-bottom:1px solid #ddd;}
.accordion_wrap .faq_list:first-child {border-top:1px solid #ddd;}
.accordion_wrap .faq_tit {cursor:pointer;}
.accordion_wrap .faq_tit p {position:relative;padding:13px 35px 12px;font-size:13px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.accordion_wrap .faq_tit p .faq_num {position:absolute;top:9px;left:3px;width:25px;padding:2px 0;font-size:15px;color:#fff;text-align:center;border-radius:3px;background:#54546c}
.accordion_wrap .faq_tit p em {position:absolute;top:19px;right:15px;display:inline-block;width:13px;height:8px;background:url(../../img/ico_arrow.png);background-repeat:no-repeat;background-position:0 0;background-size:100px auto;}
.accordion_wrap .faq_con {overflow:hidden;height:0;padding:0 8px;background:#f9f9f9;-webkit-transition:padding 200ms ease;transition:padding 200ms ease;}
.accordion_wrap .faq_con dl {overflow:hidden;}
.accordion_wrap .faq_con dl dt, .accordion_wrap .faq_con dl dd {position:relative;padding:0 5px 0 20px;color:#555;font-size:12px;}
.accordion_wrap .faq_con dl dd {margin-top:10px}
.accordion_wrap .faq_con dl dt em, .accordion_wrap .faq_con dl dd em {position:absolute;top:0;left:0;width:13px;height:15px;font-size:14px;font-weight:bold;line-height:1;color:#666;}
.accordion_wrap .faq_con dl dd em {color:#e50278;}
.accordion_wrap .active p .faq_num {color:#fff;background-position:-60px -35px;}
.accordion_wrap .active p em {background-position:-15px 0;}
.accordion_wrap .active .faq_con {height:auto;padding:15px 8px;border-top:1px solid #ddd;}

/*더보기,목록으로*/
.board .btn_multi li a {margin:0 15px;}

/*나의쿠폰*/
.couponwrap .tab_group {padding:0;}
.couponwrap .mypage_wrap .refer {margin-top:-4px;}
.couponwrap .btns_wrap {padding:0;}

/*1:1문의하기*/
.inquiryZone fieldset {margin-top:15px;border-bottom:1px solid #ddd;}
.inquiryType_area {position:relative;padding-right:110px;}
.inquiryType_area p {position:absolute;top:0;right:0;}
.inquiryType_area p .btn a {min-width:103px;padding:8px 0 7px;font-size:13px;}
.alim_area {height:25px;margin-top:5px;}
.alim_area input[type="checkbox"] {margin-right:5px}
.alim_area label {color:#666;font-size:13px;font-weight:bold;}
.alim_regard .refer {margin-top:5px;font-size:12px;}
.inquiryZone fieldset .regard {border-top:0;}
.inquiry_goods_list ul.order_goods:last-child {margin-bottom:0;}
.inquiry_goods_list ul.order_goods li {margin-bottom:0;border-top:1px solid #f0f1f2;}
.inquiry_goods_list ul.order_goods li:first-child {border-top:0;}
.inquiry_goods_list ul.order_goods li .goods .goods_price {text-align:left;}
.inquiry_goods_list ul.order_goods li .goods .goods_select {position:absolute;bottom:10px;right:10px;}
.inquiryZone .inquiry_goods_list ul.btn_multi {margin-top:10px;}
.inquiryZone .inquiry_goods_list ul.btn_multi li {margin-bottom:0;}
.inquiryZone .inquiry_goods_list ul.btn_multi li a {margin:0;}

.inquiryZone ul li {position:relative;}
.inquiryZone ul li .refer_con {position:relative;padding-right:15px;}
.inquiryZone ul li .refer_con .type {display:inline-block;margin-bottom:7px;font-size:14px;line-height:1;font-weight:bold;}
.inquiryZone ul li .refer_con .title {display:inline-block;margin-bottom:7px;color:#666;font-size:13px;line-height:1;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.inquiryZone ul li .date {display:inline-block;line-height:1;color:#999;font-size:12px;}
.inquiryZone ul li .refer_status {display:inline-block;margin-left:5px;}
.inquiryZone ul li .refer_status span.answer {display:inline-block;padding:2px 5px;font-size:11px;text-align:center;border:1px solid #ddd;border-radius:3px;}
.inquiryZone ul li .refer_status span.complete {color:#e50278;border:1px solid #e50278;}.inquiryZone ul.list {margin-bottom:20px;}
.inquiryZone ul.list li {padding:10px 0;border-bottom:1px solid #ddd;}
.inquiryZone ul.list li:after, .inquiryZone ul.read li:after {content:"";position:absolute;top:50%;right:0;display:inline-block;width:6px;height:10px;margin-top:-8px;background:url(../../img/ico_arrow.png) no-repeat -35px 0;background-size:100px auto;}
.inquiryZone ul.read li:after, .inquiryZone ul.read li:after {display:none}
/* 나의 문의 내역 - 상세 */
.inquiryZone ul.read li {padding:10px 0;/* border-bottom:2px solid #ddd; */border-bottom:1px solid #ddd;}
.inquiryZone .inquiry_refer_con dl {padding:15px 10px;border-bottom:1px solid #ddd;background:#f6f6f6;}
.inquiryZone .inquiry_refer_con dl dt, .inquiryZone .inquiry_refer_con dl dd {position:relative;min-height:25px;padding:0 5px 3px 20px;color:#555;font-size:12px;word-break: break-all;}
.inquiryZone .inquiry_refer_con dl dt em, .inquiryZone .inquiry_refer_con dl dd em {position:absolute;top:1px;left:0;width:13px;height:15px;font-size:14px;font-weight:bold;line-height:1;color:#666;}
.inquiryZone .inquiry_refer_con dl dd {margin-top:15px;border-top:1px solid #f4f4f4;}
.inquiryZone .inquiry_refer_con dl dd em {color:#e50278;}
.inquiryZone .list_nodata {border-top:0;}
.inquiryZone ul.btn_single {margin-top:10px;}
.inquiryZone ul.btn_single.half li:first-child a {margin-left:15px;}
.inquiryZone ul.btn_single.half li:last-child a {margin-right:15px;}
.inquiryZone ul.btn_multi {margin-top:10px;}
.inquiryZone ul.btn_multi li a {margin:0 15px;}
