@charset "utf-8";
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,.side_cate,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,blockquote{margin:0;padding:0; -webkit-text-size-adjust:none;word-break:break-all;}

html, body { height:100%; width: 100%; scroll:none; }

body,table{font-size: 14px;font-family: Malgun Gothic,arial,sans-serif,Helvetica; color:#333;letter-spacing:0;}
input,select,textarea,button{font-size:12px;color:#666}
body{-webkit-text-size-adjust:none}
fieldset,img,iframe,frame{border:0}
legend,caption{overflow:hidden;position:absolute;font-size:0;line-height:0;visibility:hidden}
h1,h2,h3,h4,h5,h6{font-size:1em}
img{vertical-align:mid.side_catee}
img,input,textarea,fieldset{border:0 none;outline:none}
ul,ol,dl,li,dt,dd{list-style:none;margin:0;padding:0;}
em,address{font-style:normal}
a{color:#373e40;text-decoration:none}
a:link,a:visited,a:hover,a:active{text-decoration:none}
strong{font-weight:bold}
legend,hr,caption{display:none}
table{border-collapse:collapse;border-spacing:0}
input,select,textarea,button{vertical-align:mid.side_catee;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
select{text-indent:5px;}
u{text-decoration:none;}
figure{margin:0;padding:0;}

/*time line*/
.play_wrap{height: 100%;width: 100%;overflow: hidden;position: relative;background:#000; opacity:0.7;/* 2016-06-20 : 임시 */}
.play_wrap .img{font-size: 0;line-height: 0}
.play_wrap .img img{width: 100%;}

.play_wrap .timeline_area{height: 42px;position: absolute;bottom: 0;left: 0;width: 100%;}
.play_wrap .timeline_area .timeline{position: relative;z-index: 2}
.play_wrap .timeline_area .timeline p{height: 2px;text-indent: -1000px;overflow: hidden;position: relative;background: #000;}
.play_wrap .timeline_area .timeline p span{height: 2px;background: #e50278;display: block;width: 20%;position: absolute;left: 0;top: 0;}
.play_wrap .timeline_area .timeline p strong{height: 2px;background: #fff;display: block;width: 100%;position: absolute;left: 0;top: 0;}
.play_wrap .timeline em{position: absolute;top: -5px;left: 20%;margin-left: -8px;width: 12px;height: 12px;background:url(ico_netplayer.png)no-repeat -52px -125px; background-size:300px auto;overflow: hidden;text-indent: -1000px;}
.play_wrap .timeline_area .timeline_btn{position: absolute;top: 0;left: 0;width: 100%;z-index: 200}
.play_wrap .timeline_area .timeline_btn span{position: absolute;background-image: url(ico_player.png);background-repeat: no-repeat;background-size:300px 200px;overflow: hidden;text-indent: -1000px;}
.play_wrap .timeline_area .timeline_btn .btn_prev{top: 23px;left: 50%;margin-left: -77px;width: 33px;height: 35px;background-position: 0px -20px;}
.play_wrap .timeline_area .timeline_btn .btn_next{top: 23px;left: 50%;margin-left: 37px;width: 33px;height: 35px;background-position: 0px -100px;}
.play_wrap .timeline_area .timeline_btn .btn_play{top: 20px;left: 50%;margin-left: -20px;width: 39px;height: 39px;background-position: 0px -55px;}
.play_wrap .timeline_area .timeline_btn .btn_stop{top: 20px;left: 50%;margin-left: -20px;width: 39px;height: 39px;background-position: -120px -100px;}
.play_wrap .timeline_area .timeline_btn .btn_sns{top: 30px;left: 18px;width: 18px;height: 21px;background-position: 0px -135px;}
.play_wrap .timeline_area .timeline_btn .btn_sns.on{background-position: -20px -135px;}
.play_wrap .timeline_area .timeline_btn .btn_help{top: 33px;right: 27px;width: 22px;height: 22px;background-position: 0px -160px;}
.play_wrap .timeline_area .timeline_btn .btn_vol{top: 33px;right: 10px;width: 24px;height: 18px;background-position: -170px -50px;}
.play_wrap .timeline_area .timeline_btn .btn_all{top: 33px;right: 10px;width: 23px;height: 20px;background-position: -25px -160px;}
.play_wrap .timeline_area .timeline_btn .btn_small{top: 33px;right: 10px;width: 23px;height: 20px;background-position: -25px -180px;}
.play_wrap .timeline_area .time_text span{position: absolute;top: 11px;color: #fff;font-size: 14px;z-index: 2}
.play_wrap .timeline_area .time_text .start_time{left: 15px;}
.play_wrap .timeline_area .time_text .end_time{right: 15px;}
.play_wrap .timeline_area .timeline_deem{height: 60px;opacity:0.8;background: #000; width: 100%;position: absolute;left: 0;bottom: 0;z-index: 1}

.play_wrap .quick_nav{overflow: hidden;position: absolute;left: 50%;top: 42%;width: 240px;height: 60px; margin-left:-120px;margin-top: -30px;z-index: 300}
.play_wrap .quick_nav li{float: left; width: 80px;text-align: center;position: relative;}
.play_wrap .quick_nav li a{color: #fff;display: block;}
.play_wrap .quick_nav li a em{display: inline-block;width: 37px;height: 38px;background-image: url(ico_player.png);background-repeat: no-repeat;background-size:300px 200px;overflow: hidden;text-indent: -1000px;}
.play_wrap .quick_nav li:nth-child(1) a em{background-position: -165px -100px;}
.play_wrap .quick_nav li:nth-child(2) a em{background-position: -215px -100px;width: 34px;}
.play_wrap .quick_nav li:nth-child(3) a em{background-position: -250px -100px;width: 39px;}

.play_wrap .quick_nav li a span{display: block;text-align: center;}

.play_wrap .side_out{position: absolute;left: 0;top: 0;width: 45px;height: 35px;background-position: -120px -50px;background-image: url(ico_player.png);background-repeat: no-repeat;background-size:300px 200px;overflow: hidden;text-indent: -1000px;}

.play_wrap .sun_light{position: absolute;left: 5%;top: 20%;z-index: 5;height: 45%;}
.play_wrap .sun_light p{width: 5px;background: #fff;height: 100%;border-radius: 3px;position: relative;}
.play_wrap .sun_light p span{position: absolute;bottom: 0;width: 5px;background: #ff1b3d;height: 70%;border-radius: 3px;}
.play_wrap .sun_light em{position: absolute;bottom: -30px;left: -9px;width: 22px;height: 22px;background-position: -35px 0px;background-image: url(ico_player.png);background-repeat: no-repeat;background-size:300px 200px;overflow: hidden;text-indent: -1000px;}

.play_wrap .music_text{position: absolute;left: 0;top: 20%; margin-top: -60px;width: 100%;text-align: center;z-index: 500;color: #fff;font-size: 48px;line-height: 60px}
.play_wrap .music_text em{display: inline-block;vertical-align: -2px;width: 50px;height: 39px;margin-right: 10px;background-position: -170px 0px;background-image: url(ico_player.png);background-repeat: no-repeat;background-size:300px 200px;overflow: hidden;text-indent: -1000px;}

.play_wrap .sun_music{position: absolute;right: 5%;top: 20%;z-index: 5;height: 45%;}
.play_wrap .sun_music p{width: 5px;background: #fff;height: 100%;border-radius: 3px;position: relative;}
.play_wrap .sun_music p span{position: absolute;bottom: 0;width: 5px;background: #ff1b3d;height: 20%;border-radius: 3px;}
.play_wrap .sun_music em{position: absolute;bottom: -30px;left: -9px;width: 23px;height: 18px;background-position: -35px -25px;background-image: url(ico_player.png);background-repeat: no-repeat;background-size:300px 200px;overflow: hidden;text-indent: -1000px;}

.play_wrap .light_text{position: absolute;left: 0;top: 20%; margin-top: -60px;width: 100%;text-align: center;z-index: 500;color: #fff;font-size: 48px;line-height: 60px}
.play_wrap .light_text em{display: inline-block;vertical-align: -10px;width: 54px;height: 54px;margin-right: 10px;background-position: -225px 0px;background-image: url(ico_player.png);background-repeat: no-repeat;background-size:300px 200px;overflow: hidden;text-indent: -1000px;}

.play_wrap .sns_wrap{display: none}
.play_wrap .sns_wrap.active{display: block;}
.play_wrap .sns_zone{position: absolute;left: 8px;bottom: 45px;width: 100%;z-index: 100}
.play_wrap .sns_zone .sns{overflow: hidden;width: 50px;border-radius: 5px; background: #fff;padding: 13px 0;}
.play_wrap .sns_zone .sns li{width: 50px;text-align: center;font-size: 0;padding-bottom: 15px;}
.play_wrap .sns_zone .sns li:last-child{padding-bottom: 0;}
.play_wrap .sns_zone .sns li:nth-child(1) a{display: inline-block;width: 35px;height: 35px;background-position: -65px 0px;background-image: url(ico_player.png);background-repeat: no-repeat;background-size:300px 200px;overflow: hidden;text-indent: -1000px;}
.play_wrap .sns_zone .sns li:nth-child(2) a{display: inline-block;width: 35px;height: 35px;background-position: -65px -35px;background-image: url(ico_player.png);background-repeat: no-repeat;background-size:300px 200px;overflow: hidden;text-indent: -1000px;}
.play_wrap .sns_zone .sns li:nth-child(3) a{display: inline-block;width: 35px;height: 35px;background-position: -65px -70px;background-image: url(ico_player.png);background-repeat: no-repeat;background-size:300px 200px;overflow: hidden;text-indent: -1000px;}
.play_wrap .sns_zone .sns li:nth-child(4) a{display: inline-block;width: 35px;height: 35px;background-position: -65px -105px;background-image: url(ico_player.png);background-repeat: no-repeat;background-size:300px 200px;overflow: hidden;text-indent: -1000px;}
.play_wrap .sns_zone .sns li:nth-child(5) a{display: inline-block;width: 35px;height: 35px;background-position: -65px -140px;background-image: url(ico_player.png);background-repeat: no-repeat;background-size:300px 200px;overflow: hidden;text-indent: -1000px;}
.play_wrap .sns_deem{position: absolute;left: 0;top: 0;background: #000;opacity:0.5;width: 100%;height: 100%;}

.play_wrap .sns_zone .sns2{overflow: hidden;width: 50px;border-radius: 5px; background: #fff;padding: 13px 0;}
.play_wrap .sns_zone .sns2 li{width: 50px;text-align: center;font-size: 0;padding-bottom: 15px;}
.play_wrap .sns_zone .sns2 li:last-child{padding-bottom: 0;}
.play_wrap .sns_zone .sns2 li:nth-child(1) a{display: inline-block;width: 35px;height: 35px;background-position: -65px 0px;background-image: url(ico_player_0206.png);background-repeat: no-repeat;background-size:300px 200px;overflow: hidden;text-indent: -1000px;}
.play_wrap .sns_zone .sns2 li:nth-child(2) a{display: inline-block;width: 35px;height: 35px;background-position: -65px -35px;background-image: url(ico_player_0206.png);background-repeat: no-repeat;background-size:300px 200px;overflow: hidden;text-indent: -1000px;}
.play_wrap .sns_zone .sns2 li:nth-child(3) a{display: inline-block;width: 35px;height: 35px;background-position: -65px -70px;background-image: url(ico_player_0206.png);background-repeat: no-repeat;background-size:300px 200px;overflow: hidden;text-indent: -1000px;}
.play_wrap .sns_zone .sns2 li:nth-child(4) a{display: inline-block;width: 35px;height: 35px;background-position: -65px -105px;background-image: url(ico_player_0206.png);background-repeat: no-repeat;background-size:300px 200px;overflow: hidden;text-indent: -1000px;}
.play_wrap .sns_zone .sns2 li:nth-child(5) a{display: inline-block;width: 35px;height: 35px;background-position: -65px -140px;background-image: url(ico_player_0206.png);background-repeat: no-repeat;background-size:300px 200px;overflow: hidden;text-indent: -1000px;}

.play_pop_wrap{position:absolute;right: 0;top: 0px;z-index: 300;width: 55%;height: 100%}
.play_pop_wrap .pop_contents{position:relative;padding-bottom:30px;background: #fff;height: 100%}
.play_pop_wrap .pop_contents h3{padding:8px 10px 7px;background: #e51937;font-size:18px;font-weight:normal;color:#fff;}
.play_pop_wrap .pop_close02{display:block;position:absolute;right:11px;top:11px;width:18px;height:18px;background: url(ico_searchx2.png) 0 -108px no-repeat;background-size:20px 150px;text-indent:-9999px;}

.play_product_list{background: #fff;overflow-y: scroll; height: 300px;}
.play_product_list li{padding:10px 0 0;border-bottom: 1px solid #eee;position: relative;}
.play_product_list li:last-child{border-bottom: none;}
.play_product_list li .product{position: relative;padding-left: 95px;min-height: 90px;padding-right: 10px;}
.play_product_list li .product .text{font-size:14px;display:block;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;min-height:30px;}
.play_product_list li .product .img{position: absolute;left: 10px;top: 0;}
.play_product_list li .product .img img{width: 75px}
.play_product_list li .product .price{font-size: 12px;margin-top: 10px;position: relative;min-height: 35px;}
.play_product_list li .product .price .sale_small{position: absolute;left: 0;top: 2px;display: inline-block;vertical-align: 0px;width: 36px;height: 27px;background-position:0 0 ;background-image: url(flag_sale4.png);background-size:750px 500px;background-repeat: no-repeat;overflow: hidden;text-indent: -1000px}
.play_product_list li .product .price .sale2{display: inline-block;}
.play_product_list li .product .price .sale2:nth-child(2){display: inline-block;padding-left: 37px;}
.play_product_list li .product .price .sale2 del{text-decoration: line-through;font-size: 11px;line-height: 10px;color: #666;vertical-align: middle;}
.play_product_list li .product .price .sale2 strong{font-size: 15px;line-height: 16px;}
.play_product_list li .product .price .sale{display: inline-block;color: #e51937;width: 29px;height: 27px;font-size: 17px;line-height: 15px;text-align: center;border: 1px solid #e51937;border-radius: 18px;padding-top: 2px;}
.play_product_list li .product .price .sale em{display: block;font-size: 9px;line-height: 9px}

/* 
.play_wrap .close{position: absolute;right: 0;top: 0;display: inline-block;width: 45px;height: 35px;background-position: -120px -150px;background-image: url(ico_player.png);background-repeat: no-repeat;background-size:300px 200px;overflow: hidden;z-index: 2}
.play_wrap .func1{position: absolute;left: 260px;top: 10px;display: inline-block;width: 40px;height: 40px;z-index: 2; background-color:#ff80ff; opacity:0.6;}
.play_wrap .func2{position: absolute;left: 110px;top: 10px;display: inline-block;width: 40px;height: 40px;z-index: 2; background-color:#ff80ff; opacity:0.6;}
.play_wrap .func3{position: absolute;left: 60px;top: 10px;display: inline-block;width: 40px;height: 40px;z-index: 2; background-color:#ff80ff; opacity:0.6;}
.play_wrap .func4{position: absolute;left: 160px;top: 10px;display: inline-block;width: 40px;height: 40px;z-index: 2; background-color:#ff80ff; opacity:0.6;}
.play_wrap .func5{position: absolute;left: 210px;top: 10px;display: inline-block;width: 40px;height: 40px;z-index: 2; background-color:#ff80ff; opacity:0.6;}
.play_wrap .func6{position: absolute;left: 10px;top: 10px;display: inline-block;width: 40px;height: 40px;z-index: 2; background-color:#ff80ff; opacity:0.6;}
.play_wrap .func_title{position: absolute;left: 0px;top: 50px;display: inline-block;width: 100%;height: 40px;z-index: 2; background-color:grey; opacity:0.5;text-align: center;}
*/

/* 버튼 배치 css */
.play_wrap .func6{position: absolute; left:auto; right: 15px;top: 15px;display:block;width: 48px;height: 18px;z-index: 2; background:url(ico_netplayer.png)no-repeat -160px 0; background-size:300px auto; color:#fff;text-align:center;padding-top:25px;font-size:12px;}
.play_wrap .func2{position: absolute;left: 15px;top: 15px;display:block;width: 48px;height: 18px;z-index: 2; background:url(ico_netplayer.png)no-repeat 5px 0; background-size:300px auto; color:#fff;text-align:center;padding-top:25px;font-size:12px;}
.play_wrap .func4{position: absolute;left: 70px;top: 15px;display:none;width: 48px;height: 18px;z-index: 2; background:url(ico_netplayer.png)no-repeat -36px 0; background-size:300px auto; color:#fff;text-align:center;padding-top:25px;font-size:12px;}
.play_wrap .func3{position: absolute;left: 70px;top: 15px;display:block;width: 48px;height: 18px;z-index: 2; background:url(ico_netplayer.png)no-repeat -202px 0; background-size:300px auto; color:#fff;text-align:center;padding-top:25px;font-size:12px;}
.play_wrap .func1_on{position: absolute;left: 125px;top: 15px;display:none;width: 48px;height: 18px;z-index: 2; background:url(ico_netplayer.png)no-repeat -118px 0; background-size:300px auto; color:#fff;text-align:center;padding-top:25px;font-size:12px;}
.play_wrap .func1{position: absolute;left: 125px;top: 15px;display:block;width: 48px;height: 18px;z-index: 2; background:url(ico_netplayer.png)no-repeat -77px 0; background-size:300px auto; color:#fff;text-align:center;padding-top:25px;font-size:12px;}
.play_wrap .btn_buy{position: absolute;left: 50%;top: 55%;margin:-34px 0 0 51px; display:inline-block;width: 70px;height: 11px;z-index: 2; background:url(ico_netplayer.png)no-repeat -152px -44px; background-size:300px auto; color:#fff;text-align:center;padding:27px 0 33px;font-size:12px;}
.play_wrap .btn_ctr_wrap{position: absolute;left: 50%;top: 55%;margin:-30px 0 0 -30px;display:block;width: 62px;height: 61px;z-index: 2; font-size:0; line-height:0;}
.play_wrap .btn_play{display:block;width: 62px;height: 61px;background:url(ico_netplayer.png)no-repeat -76px -44px; background-size:300px auto;}
.play_wrap .btn_stop{display:block;width: 62px;height: 61px;background:url(ico_netplayer.png)no-repeat 0px -44px; background-size:300px auto;}
.play_wrap .onair_time,
.play_wrap .timeline_area,
.play_wrap .func_title{display:none;}

/* 버튼 배치 css(full클래스 추가) */
.play_wrap.full .func6, 
.play_wrap.full .func2,  
.play_wrap.full .func3,
.play_wrap.full .func4,
.play_wrap.full .func1,
.play_wrap.full .func1_on{top:75px;}
.play_wrap.full .func4{display:block;}
.play_wrap.full .func3{display:none;}
.play_wrap.full .func1_on{display:block;}
.play_wrap.full .func1{display:none;}
.play_wrap.full .btn_ctr_wrap{display:block;}
.play_wrap.full .btn_play{top: 50%;}
.play_wrap.full .btn_stop{top: 50%;}
.play_wrap.full .btn_buy{left:auto; right: 15px; top:auto; bottom:15px;}
.play_wrap.full .btn_buy.timeup{bottom: 63px;}
.play_wrap.full .timeline_area{display:none;}
.play_wrap.full .onair_time{display:block;font-size:14px;color:#fff;width:200px;margin:15px 0 0 -63px;}
.play_wrap.full .onair_time span{display:inline-block;width:2px;height:10px;background:url(ico_netplayer.png)no-repeat -29px -123px; background-size:300px auto;margin:0 5px 0 7px;}

.play_wrap.full .func_title{position: relative;left: 0px;top: 0px;display: -webkit-box;-webkit-line-clamp:1;overflow:hidden;width: 100%;height: 20px;z-index: 2; background-color:#525269; color:#fff;font-size:18px;font-weight:bold;padding:14px 0 16px 0;text-align:left;}
.play_wrap.full .func_title span{margin:1px 20px 0 15px; width: 13px;height: 20px;display: block;background:url(ico_netplayer.png)no-repeat 0 -125px; background-size:300px auto;}
.play_wrap.full .func_title p{height:30px;width:70%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:18px;}
.play_wrap.full .func_title em{position: absolute;right:25px;top:14px;display:block;font-size:12px;font-weight:normal;}
.play_wrap.full .func_title em strong{font-size:18px;font-weight:bold;vertical-align:-1px;}

/* 버튼 배치 css(small클래스 추가) */
.play_wrap.small .func6{top:50%;left:50%;margin-top:-22px;margin-left:8px;}
.play_wrap.small .func3{top:50%;left:50%;margin-top:-22px;margin-left:-56px;display:block;}
.play_wrap.small .func1,
.play_wrap.small .func1_on,
.play_wrap.small .func2,
.play_wrap.small .func4,
.play_wrap.small .btn_ctr_wrap,
.play_wrap.small .btn_play,
.play_wrap.small .btn_stop,
.play_wrap.small .btn_buy{display:none;}

.Msale_1p {background-position:0 0 !important;}
.Msale_2p {background-position:-75px 0 !important;}
.Msale_3p {background-position:-150px 0 !important;}
.Msale_4p {background-position:-225px 0 !important;}
.Msale_5p {background-position:-300px 0 !important;}
.Msale_6p {background-position:-375px 0 !important;}
.Msale_7p {background-position:-450px 0 !important;}
.Msale_8p {background-position:-525px 0 !important;}
.Msale_9p {background-position:-600px 0 !important;}
.Msale_10p {background-position:-675px 0 !important;}

.Msale_11p {background-position:0 -50px !important;}
.Msale_12p {background-position:-75px -50px !important;}
.Msale_13p {background-position:-150px -50px !important;}
.Msale_14p {background-position:-225px -50px !important;}
.Msale_15p {background-position:-300px -50px !important;}
.Msale_16p {background-position:-375px -50px !important;}
.Msale_17p {background-position:-450px -50px !important;}
.Msale_18p {background-position:-525px -50px !important;}
.Msale_19p {background-position:-600px -50px !important;}
.Msale_20p {background-position:-675px -50px !important;}

.Msale_21p {background-position:0 -100px !important;}
.Msale_22p {background-position:-75px -100px !important;}
.Msale_23p {background-position:-150px -100px !important;}
.Msale_24p {background-position:-225px -100px !important;}
.Msale_25p {background-position:-300px -100px !important;}
.Msale_26p {background-position:-375px -100px !important;}
.Msale_27p {background-position:-450px -100px !important;}
.Msale_28p {background-position:-525px -100px !important;}
.Msale_29p {background-position:-600px -100px !important;}
.Msale_30p {background-position:-675px -100px !important;}

.Msale_31p {background-position:0 -150px !important;}
.Msale_32p {background-position:-75px -150px !important;}
.Msale_33p {background-position:-150px -150px !important;}
.Msale_34p {background-position:-225px -150px !important;}
.Msale_35p {background-position:-300px -150px !important;}
.Msale_36p {background-position:-375px -150px !important;}
.Msale_37p {background-position:-450px -150px !important;}
.Msale_38p {background-position:-525px -150px !important;}
.Msale_39p {background-position:-600px -150px !important;}
.Msale_40p {background-position:-675px -150px !important;}

.Msale_41p {background-position:0 -200px !important;}
.Msale_42p {background-position:-75px -200px !important;}
.Msale_43p {background-position:-150px -200px !important;}
.Msale_44p {background-position:-225px -200px !important;}
.Msale_45p {background-position:-300px -200px !important;}
.Msale_46p {background-position:-375px -200px !important;}
.Msale_47p {background-position:-450px -200px !important;}
.Msale_48p {background-position:-525px -200px !important;}
.Msale_49p {background-position:-600px -200px !important;}
.Msale_50p {background-position:-675px -200px !important;}

.Msale_51p {background-position:0 -250px !important;}
.Msale_52p {background-position:-75px -250px !important;}
.Msale_53p {background-position:-150px -250px !important;}
.Msale_54p {background-position:-225px -250px !important;}
.Msale_55p {background-position:-300px -250px !important;}
.Msale_56p {background-position:-375px -250px !important;}
.Msale_57p {background-position:-450px -250px !important;}
.Msale_58p {background-position:-525px -250px !important;}
.Msale_59p {background-position:-600px -250px !important;}
.Msale_60p {background-position:-675px -250px !important;}

.Msale_61p {background-position:0 -300px !important;}
.Msale_62p {background-position:-75px -300px !important;}
.Msale_63p {background-position:-150px -300px !important;}
.Msale_64p {background-position:-225px -300px !important;}
.Msale_65p {background-position:-300px -300px !important;}
.Msale_66p {background-position:-375px -300px !important;}
.Msale_67p {background-position:-450px -300px !important;}
.Msale_68p {background-position:-525px -300px !important;}
.Msale_69p {background-position:-600px -300px !important;}
.Msale_70p {background-position:-675px -300px !important;}

.Msale_71p {background-position:0 -350px !important;}
.Msale_72p {background-position:-75px -350px !important;}
.Msale_73p {background-position:-150px -350px !important;}
.Msale_74p {background-position:-225px -350px !important;}
.Msale_75p {background-position:-300px -350px !important;}
.Msale_76p {background-position:-375px -350px !important;}
.Msale_77p {background-position:-450px -350px !important;}
.Msale_78p {background-position:-525px -350px !important;}
.Msale_79p {background-position:-600px -350px !important;}
.Msale_80p {background-position:-675px -350px !important;}

.Msale_81p {background-position:0 -400px !important;}
.Msale_82p {background-position:-75px -400px !important;}
.Msale_83p {background-position:-150px -400px !important;}
.Msale_84p {background-position:-225px -400px !important;}
.Msale_85p {background-position:-300px -400px !important;}
.Msale_86p {background-position:-375px -400px !important;}
.Msale_87p {background-position:-450px -400px !important;}
.Msale_88p {background-position:-525px -400px !important;}
.Msale_89p {background-position:-600px -400px !important;}
.Msale_90p {background-position:-675px -400px !important;}

.Msale_91p {background-position:0 -450px !important;}
.Msale_92p {background-position:-75px -450px !important;}
.Msale_93p {background-position:-150px -450px !important;}
.Msale_94p {background-position:-225px -450px !important;}
.Msale_95p {background-position:-300px -450px !important;}
.Msale_96p {background-position:-375px -450px !important;}
.Msale_97p {background-position:-450px -450px !important;}
.Msale_98p {background-position:-525px -450px !important;}
.Msale_99p {background-position:-600px -450px !important;}

.play_product_list li .product .price .sale3{padding-left:37px}
.play_product_list li .product .price .sale3:nth-child(2){display: inline-block;padding-left: 37px;}
.play_product_list li .product .price .sale3 del{text-decoration: line-through;font-size: 11px;line-height: 10px;color: #666;vertical-align: middle;}
.play_product_list li .product .price .sale3 strong{font-size: 15px;line-height: 16px;}

.play_product_list li .product .benefit{margin-top:5px}
.play_product_list li .product .benefit .noint{border: 1px solid #cdcdcd;padding:0 2px;color: #999;font-size: 12px;margin-right: 3px;}
.play_product_list li .product .benefit .oil_tax{border: 1px solid #cdcdcd;padding:0 2px;color: #999;font-size: 12px;}